@model IEnumerable<BlogSystem.Web.Models.HomeViewModels.IndexPageViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
   
    @foreach(var post in Model)
    {
        <p>@post.Title </p>
    }
  
</div>