.blog-gray-info {
    color: gray;
}

.blog-page-header {
    margin-top: 40px;
}

.blog-post-title {
    text-decoration: none;
}

.blog-post-title:hover {
    text-decoration: none;
}

.blog-post {
    margin-bottom: 40px;
    margin-top: 40px;
}

.blog-button-short-content {
    margin-top: 15px;
}

.blog-post-home-page-info {
    padding-top: 0px;
}

.tinymce-editor {
    width: 100%;
    height: 500px;
}

.blog-panel-heading {
    cursor: pointer;
}